  # Personal Info
  <section class="probootstrap-section">
    <div class="container">
      <div class="container">    
        <div class="row justify-content-center">
          <div class="col-md-12 section-heading text-center probootstrap-animate">
          </div>
        </div>
        <div class="container">
          <h1 class="mb70 text-center is-bold" data-animate-effect="fadeIn">About me: </h1>
          <div class="row ">
          <div class="col-md-3">
        </div>
        <div class="col-md-6 probootstrap-animate mb50">
          <div class="probootstrap-card probootstrap-person j text-center">
            <div class="probootstrap-card-media">
              <img src="https://raw.githubusercontent.com/carlos-ssh/Carlos-Portfolio/Feature/app/assets/images/me.jpg" class="img-responsive" alt="It's me :( .. i will fix it ASAP!">
            </div>
            <div class="probootstrap-card-text">
              <h2 class="probootstrap-card-heading mb0">Carlos Robles</h2>
              <p><small>Full Stack Developer</small></p>
              <p>
                Actually Full-Time Student in Microverse as a Software Engineer and giving support as a mentor to new developers that starts in the program
                I've worked with web applications I use different frameworks like Ruby on Rails, React, Node among other tools that make my daily life very helpful. 
                I really love the things that I do.
                Kindly follow my works on GitHub.
                I am open to new challenges in Software Development roles.
                Thanks for taking a bit of your highly regarded time to visit my page.
                Any question that you have please don't hesitate to approach me to send me a message or follow me on social media.
                Cheers!
              </p>
              <ul class="probootstrap-social">
                <li><a href="https://www.linkedin.com/in/carlos-ssh/"><i class="icon-linkedin"></i></a></li>
                <li><a href="https://twitter.com/AomRobles"><i class="icon-twitter"></i></a></li>
                <li><a href="https://github.com/carlos-ssh/"><i class="icon-github"></i></a></li>
                <li><a href="https://www.instagram.com/_aom.r/"><i class="icon-instagram2"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>  
        <div class="row mb70 probootstrap-animate" data-animate-effect="fadeIn">
            <div class="col-md-6">
                <h2>Technical Skills</h2>
                <p> <strong> Nunchuck Skills:</strong> <br> DRY Method, Tests, Debugging, API's, Keep best practices, Learn new Technologies.</p>
                <p><strong> Web:</strong> <br> HTML5, CSS, SASS, Bootstrap, Bulma, Node.js, React, RoR.</p>
                <p><strong> Programming:</strong> <br> JavaScript, Ruby, Actually learning Python.</p>
                <p><strong> Database Management:</strong> <br> PostgreSQL, MySQL, MongoDB. </p>
                <p><strong> Cloud and Distributed Computing:</strong> <br>Heroku, Docker, AWS.</p>
                <p><strong> eCommerce Platforms:</strong> <br> Magento, WooCommerce, Shopify.</p>
                <p><strong> Operating Systems:</strong> <br>macOS, Linux.</p>
                <p><strong> Other Tools:</strong> <br>Photoshop, Illustrator, After Effects, Postman, Terminal, VS Code, VIM <3.</p>
            </div>
            <div class="col-md-6">
                <h2>More Skills:</h2>
                <p>Leadership,
                Collaboration/Teamwork, <br>
                Communication,
                Time Management,
                Interpersonal Skills, <br>
                Active Learning,
                Good Attitude,
                Strong Work Ethic, <br>
                Detail-Oriented,
                Problem Solving,
                Flexibility/Adaptability, <br>
                Customer Service,
                Organization,
                Honesty, <br>
                Self Motivated,
                Ethical, <br>
                Critical Thinking.
                </p>
            </div>
        </div>
    </div>
  </section>

  # Section for Projects
    # Project 1
  <section class="probootstrap-section-half">
    <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(https://github.com/carlos-ssh/Carlos-Portfolio/blob/Feature/app/assets/images/screens.png)"></div>
    <div class="probootstrap-text">
      <div class="probootstrap-inner probootstrap-animate">
        <h1 class="heading">Pouring Milk In Hand</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        <p><a href="single-page.html" class="btn btn-primary">Live View</a> <a href="single-page.html" class="btn btn-black"><i class="icon-github2"></i> View on GItHub</a></p>
      </div>
    </div>
  </section>

    # Project 2
  <section class="probootstrap-section-half probootstrap-reverse">
    <div class="probootstrap-image probootstrap-animate"  data-animate-effect="fadeIn" style="background-image: url(img/image_2.jpg)"></div>
    <div class="probootstrap-text">
      <div class="probootstrap-inner probootstrap-animate">
        <h1 class="heading">Ice Cream Sweetness</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        <p><a href="single-page.html" class="btn btn-primary">Live View</a> <a href="single-page.html" class="btn btn-black"><i class="icon-github2"></i> View on GItHub</a></p>
      </div>
    </div>
  </section>

    # Project 3
  <section class="probootstrap-section-half">
    <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(img/image_3.jpg)"></div>
    <div class="probootstrap-text">
      <div class="probootstrap-inner probootstrap-animate">
        <h1 class="heading">Baloon on the Chair</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        <p><a href="single-page.html" class="btn btn-primary">Live View</a> <a href="single-page.html" class="btn btn-black"><i class="icon-github2"></i> View on GItHub</a></p>
      </div>
    </div>
  </section>

    # Project 4
  <section class="probootstrap-section-half probootstrap-reverse">
    <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(img/image_4.jpg)"></div>
    <div class="probootstrap-text">
      <div class="probootstrap-inner probootstrap-animate">
        <h1 class="heading">Pink Lips in the Hole</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        <p><a href="single-page.html" class="btn btn-primary">Live View</a> <a href="single-page.html" class="btn btn-black"><i class="icon-github2"></i> View on GItHub</a></p>
      </div>
    </div>
  </section>
  
  # Icons Section
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">

            <div class="icon">
              <i class="icon-laptop3"></i>
            </div>
            <div class="text">
              <h3 class="heading">Business Strategy</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              <p><a href="single-page.html">Learn more</a></p>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <i class="icon-presentation"></i>
            </div>
            <div class="text">
              <h3 class="heading">Business Marketing</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              <p><a href="single-page.html">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <i class="icon-wallet2"></i>
            </div>
            <div class="text">
              <h3 class="heading">Business Profit</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              <p><a href="single-page.html">Learn more</a></p>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">

            <div class="icon">
              <i class="icon-hourglass"></i>
            </div>
            <div class="text">
              <h3 class="heading">Fast &amp; Reliable</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              <p><a href="single-page.html">Learn more</a></p>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <i class="icon-shield3"></i>
            </div>
            <div class="text">
              <h3 class="heading">Business Security</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              <p><a href="single-page.html">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate">
            <div class="icon">
              <i class="icon-adjustments"></i>
            </div>
            <div class="text">
              <h3 class="heading">Full Customization</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              <p><a href="single-page.html">Learn more</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  # Contact Section
  <section class="probootstrap-section probootstrap-animate">
    <div class="container">
      <div class="row">

      <div class="col-md-6 col-md-offset-3">
        <form action="#" method="post" class="probootstrap-form probootstrap-form-box mb60">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" id="fname" name="fname">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" id="lname" name="lname">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea cols="30" rows="10" class="form-control" id="message" name="message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Send Message">
          </div>
        </form>
      </div>        

      </div>
    </div>
  </section>