<%= render 'layouts/head' %>
<div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="index.html" class="probootstrap-logo">Connect</a>
        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li class="active"><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", pages_about_path %></li>
            <li><a href="connect/services.html">Education</a></li>
            <li><a href="connect/contact.html">Contact me!</a></li>
          </ul>
          <div class="extra-text visible-xs"> 
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>Address</h5>
            <p class="text-primary">Jurica, Queretaro Mexico 76100</p>
            <h5>Connect</h5>
            <ul class="social-buttons">
              <li><a href="https://twitter.com/AomRobles"><i class="icon-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/carlos-ssh/"><i class="icon-linkedin"></i></a></li>
              <li><a href="https://www.instagram.com/_aom.r/"><i class="icon-instagram2"></i></a></li>
              <li><a href="https://github.com/carlos-ssh/"><i class="icon-github"></i></a></li>

            </ul>
          </div>
        </nav>

    </div>
  </header>
