<!DOCTYPE html>
<html>
  
    <%= render 'layouts/head' %>

  <body>
    <div class="probootstrap-main">
    <%= render 'layouts/header' %>
    <%= yield %>
    
    <%= render 'layouts/scripts' %>
  </body>
</html>
